{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">About Our Hospital</h1>
        <p>
            Welcome to our hospital, where we are dedicated to providing exceptional healthcare services to our community.
            With a team of skilled doctors, nurses, and support staff, we strive to ensure the well-being of our patients.
        </p>

        <p>
            Our mission is to deliver high-quality, compassionate care and promote a healthy lifestyle. We believe in
            patient-centered healthcare, tailoring our services to meet the unique needs of each individual.
        </p>

        <p>
            At our hospital, we embrace the latest medical technologies and advancements to offer cutting-edge
            treatments. Whether you're seeking preventive care or managing a health condition, we are here to support
            you on your healthcare journey.
        </p>

        <p>
            Thank you for choosing our hospital for your healthcare needs. We are committed to making a positive impact
            on the health and well-being of our community.
        </p>
    </div>
{% endblock %}
